html {
	background-image: url("purplegradient.jpg");
}
body {
	width: 92%;
	background: none;
	margin: 0 auto 2em;
	font: Times, serif;
}
header {
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 30px;

}
header h1 {
	font: normal Arial, sans-serif;
	color: black;
	text-align: center;
	margin: 0;
}

header h3 {
	font: normal Arial, sans-serif;
	text-align: center;
}

p{
	font: normal Arial, sans-serif;
	color: black;
	margin: 0;
}

.picture{
	height: 300px;
	width: 250px;
}

.leftCol {
	background: grey;
	height: 300px;
	float: left;
	padding: 20px;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	border: 5px solid #000080;
}
.rightCol {
	background: grey;
	height: 300px;
	float: right;
	padding: 20px;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	border: 5px solid #000080;

}
.centerCol{
	background: grey;
	height: 250px;
	padding: 20px;
	margin-bottom: 15px;
	width: 96%;
	position: relative;
	top: 5px;
	border: 5px solid #000080;
}