html {
	background-image: url("purplegradient.jpg");
}
body {
	width: 92%;
	background: none;
	margin: 0 auto 2em;
	font: serif;
}
header {
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 30px;

}
header h1 {
	font: normal 2em Brush Script MT, Brush Script Std, cursive, serif;
	color: black;
	text-align: center;
	margin: 0;
	line-height: 1em;
	font-size: 80px;
}

header h2 {
	font: normal 2em Brush Script MT, Brush Script Std, cursive, serif;
	color: black;
	margin: 0;
	text-align: center;
	line-height: .1em;
	letter-spacing:.07em;
	font-size: 35px;
}

header h3 {
	font: normal 2em Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-align: center;
	line-height: 1em;
	letter-spacing:.07em;
	font-size: 25px;
}

p{
	font: normal 2em Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: black;
	margin: 0;
	text-align: center;
	line-height: 1.5em;
	letter-spacing:.07em;
	font-size: 20px;
}

footer{
	font: normal Arial, serif;
	color: black;
	margin: 0;
	text-align: center;
	line-height: 1.5em;
	letter-spacing:.07em;
}

.leftCol {
	background-image: url("stars.jpg");
	height: 350px;
	float: left;
	padding: 20px;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	border: 5px solid #000080;
}
.rightCol {
	background-image: url("stars.jpg");
	height: 350px;
	float: right;
	padding: 20px;
	width: 45%;
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
	border: 5px solid #000080;

}
.centerCol{
	background-image: url("stars.jpg");
	height: 300px;
	padding: 20px;
	margin-bottom: 15px;
	width: 96%;
	position: relative;
	top: 5px;
	border: 5px solid #000080;
}

#myButton{
	height: 25px;
	width: 75px;
	background-color: white;
	border-radius: 30px;
}
/* formatting for music player */
.player{
	position: relative;
	top: 20px;
	left: 5px;
}
/* sets formatting for iframe next to vertical oriented photos */
.artistDescripVertical{
	height: 225px;
	width: 275px;
}
/* sets formatting for iframe next to horizontal oriented photos */
.artistDescripHorizontal{
	height: 100px;
	width: 450px;
}

/* may or may not use */
ArtistsInfo{
	font: normal 2em Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: black;
	margin: 0;
	line-height: 1.5em;
	letter-spacing:.05em;
	font-size: 15px;
}