#h1{
	text-align: center;
}

#Biography{
	text-align: left;
	font-size: 16pt;
	padding-left: 7px;
	padding-right: 7px;
	}


#ProfilePic{
	align-items:right;
	padding-top: 4px;
	padding-left: 7px;
}

#CommentButton{
}